
/* -----------------

global CSS  

--------------------*/


/* Font imported from google fonts -> Open Sans 400  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


body{
    font-family: 'Open Sans', sans-serif;
    overflow-y: hidden;
}

.main-head{
    color: rgb(0, 0, 0);
    font-size: 70px;
}

.secondary-head{
    color: black;
    font-size: 50px;
}

/* Variables  */

:root{
    --pri-color: red;
    --pri-hover: rgb(153, 1, 1);
    --sec-color: rgb(85, 85, 85);
    --ter-color: black;
    --pri-font: 'Open Sans', sans-serif;
}


/* --------------------

Header Design  

---------------------*/

header{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 3em;
    box-shadow: 10px 2px 15px black;
    padding: 10px;
    z-index: 2;
    background-color: white;
}

header .head-items{
    margin: auto 10px;
}

header .branding {
    font-size: 30px;
    font-weight: 700;
}

header .side-bar-btn{
    text-decoration: none;
    color: black;
    font-size: 20px;
}



/*---------------------

Navbar Design 

----------------------*/

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 3em;
    padding: 10px;
    background: var(--pri-color);
    z-index: 1;
}


nav .nav-item{
    list-style: none;
    margin: 70px auto;
}

nav .nav-item a{
    font-size: 30px;
    text-decoration: none;
    color: white;
    padding: 8px;
    border-radius: 30%;
}

nav .nav-item a:hover{
    background: var(--pri-hover);
}





/*-------------------------------

 main scrolling element 
 
 -------------------------------*/


#main-body {
    margin: 70px 0px 0px 68px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* white-space: nowrap; */
    overflow-x: auto;
    overflow-y: hidden;
    height: auto;
    width:max-content;
    z-index: 0;
}



#main-body .page{
    height: 91vh;
    width: 100vw;
    /* padding: 50px; */
}




/* ---------------------- 

Home Page Design 

-----------------------*/

.home-title{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/backgrounds/home-background.jpg) no-repeat center center/cover;
}

.home-title h1{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 90px;
    font-size: 100px;
    color: white;
    text-shadow: 1px 1px 3px black;
}

.home-title .move-btn{
    background-color: red;
    color: white;
    padding: 20px 25px;
    position: absolute;
    top: 50%;
    left: 30%;
    border-radius: 50%;
}

.home-title .move-btn:hover{
    background-color: var(--pri-hover);
}




/* --------------------

Cards Page Design  

----------------------*/

.home-cards{
    width: max-content;
}


.home-cards .card-grid{
    display: grid;
    width: 80%;
    margin: 20px auto;
    grid-template-columns: repeat(4, minmax(270px, 1fr));
}

.home-cards .card-grid .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 270px;
    box-shadow: 1px 1px 5px rgb(105, 105, 105);
    border-radius: 5px;
    margin: 10px 10px;
}

.home-cards .card-grid .card .card-img img{
    height: 187px;
}

.home-cards .card-grid .card .card-title{
    font-size: 20px;
    font-weight: 900;
}

.home-cards .card-grid .card .card-tag{
    width: 100%;
    color: var(--sec-color);
}

.home-cards .card-grid .card .card-desc{
    width: 100%;
    font-size: 12px;
}

.home-cards .card-grid .card button{
    color: white;
    background: var(--pri-color);
    border: none;
    padding: 10px 15px;
    border-radius: 50px;
    width: 50%;
}

.home-cards .card-grid .card button:hover{
    background: var(--pri-hover);
}




/*---------------

Slogan Design  

---------------*/

.slogan{
    position: fixed;
    top: 95%;
    left: 90%;
    background-color: rgba(0, 0, 0, 0.486);
    color: white; 
    padding: 10px;
    border-radius: 50px;
}





/* ------------------

About Design  

-------------------*/

.home-about main{
    margin: auto 100px;
}

.home-about .para{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}


.home-about .para .para-img img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.home-about .para p{
    margin: 20px;
}





/*-----------------------

Contact Page design  

-----------------------*/

.home-contact .contact-form{
    width: 80%;
    margin: auto auto;
}

.home-contact .contact-form .form-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 1px 1px 5px var(--sec-color);
}

.home-contact .contact-form .form-body .input-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 10px auto;
}

.home-contact .contact-form .form-body .input-field label{
    font-weight: 900;
    margin: 10px 0px;
}

.home-contact .contact-form .form-body .input-field input{
    padding: 12px;
    border-radius: 5px;
    border: 1px solid var(--sec-color);
}

.home-contact .contact-form .form-body .input-field textarea{
    width: 460px;
    height: 140px;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid var(--sec-color);
    resize: none;
    font-family: var(--pri-font);
    overflow: auto;
}

.home-contact .contact-form .form-body button{
    width: 80%;
    margin: 15px auto;
    padding: 12px;
    border-radius: 50px;
    border: none;
    background-color: var(--pri-color);
    color: white;
    cursor: pointer;
}

.home-contact .contact-form .form-body button:hover{
    background-color: var(--pri-hover);
}





/*-------------------- 

Clients Page Design  

---------------------*/



.home-clients main{
    width: 80%;
    margin: auto auto;
}

.home-clients main .client-grid{
    display: grid;
    width: 100%;
    margin: 20px auto;
    grid-template-columns: repeat(4, minmax(270px, 1fr));
}

.home-clients main .client-grid .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 270px;
    box-shadow: 1px 1px 5px rgb(105, 105, 105);
    border-radius: 5px;
    margin: 10px 10px;

}

.home-clients main .client-grid .card .card-item{
    margin: 6px auto;
}

.home-clients main .client-grid .card .card-img img{
    height: 140px;
    width: 140px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 1px solid black;
}

.home-clients main .client-grid .card h3{
    font-size: 20px;
    font-weight: 900;
}

.home-clients main .client-grid .card p{
    width: 100%;
    font-size: 12px;
}
